@model FractionalCalculator.Models.ExpressionModel
<div class="jumbotron">
    <h1>Fractional Calculator</h1>
    <p class="lead">Fractional Calculator is an application that allows you to do arithmetic operations on Fractions.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Fractional Calculator is built using Web API. The Restful service runs over http & gives you easy access to the operations as Addition, Subtraction, Multiplication, Division & Power(Exponentiation)</p>
    </div>
    <div class="col-md-4">
        <h2>Built using DDD Principles</h2>
        <p>The Fractional Calculator has been built using Domain Driven Design principles. It has layers like Domain, Data Access, Services, Web API & MVC (UI).</p>
    </div>
    <div class="col-md-4">
        <h2>Easy to Use</h2>
        <p>You can easily type in any Fractional Arithmetic Expression & Calculate its result by just clicking a button. Doesn't get any easier than that.</p>
    </div>
</div>
<br/>
<br/>
<hr style="color: darkblue"/>
<label style="color: darkgreen"><u>Calculate Fractional Expression </u></label>
<br/>
<br/>
<div>
    @using (Html.BeginForm("Index", "Home", new {ExpressionModel = Model}, FormMethod.Post))
    {
        <label style="color: darkblue">Enter Fractional Expression: </label>
        @Html.TextBoxFor(m => m.Expression)
        <input type="submit" class="btn btn-info" value="Calculate"/>
        <br/>
        <label style="color: darkred">Result: </label>
        @Html.TextBoxFor(m => m.Result)
    }
</div>

